<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
   
   <joint name="imu_joint" type="fixed">
      <parent link="base_link"/>
      <child link="imu_link"/>
      <origin xyz="0 0 0.019" rpy="0 0 0"/>
   </joint>

   <link name="imu_link">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 ${pi/2}"/>
         <geometry>
            <mesh filename="file://$(find arns_description)/meshes/imu.stl" scale="0.001 0.001 0.001"/>
         </geometry>
      </visual>
      <geometry>
        <box size="0.057 0.0895 0.029"/>
     </geometry>
     <xacro:inertial_box mass="0.01" x="0.057" y="0.0895" z="0.029">
        <origin xyz="0 0 0" rpy="0 0 0"/>
     </xacro:inertial_box>
   </link>

   <gazebo reference="imu_link">
    <material>Gazebo/Red</material>
      <sensor name="bno055_imu" type="imu">
       <plugin name="imu_controller" filename="libgazebo_ros_imu_sensor.so">
          <ros>
            <remapping>~/out:=imu_broadcaster/imu</remapping>
          </ros>
         <initial_orientation_as_reference>false</initial_orientation_as_reference>
       </plugin>
        <always_on>true</always_on>
        <update_rate>100</update_rate>
        <visualize>true</visualize>
        <imu>
          <angular_velocity>
            <x>
              <noise type="gaussian">
                <mean>0.0</mean>
                <stddev>2e-4</stddev>
              </noise>
            </x>
            <y>
              <noise type="gaussian">
                <mean>0.0</mean>
                <stddev>2e-4</stddev>
              </noise>
            </y>
            <z>
              <noise type="gaussian">
                <mean>0.0</mean>
                <stddev>2e-4</stddev>
              </noise>
            </z>
          </angular_velocity>
          <linear_acceleration>
            <x>
              <noise type="gaussian">
                <mean>0.0</mean>
                <stddev>1.7e-2</stddev>
              </noise>
            </x>
            <y>
              <noise type="gaussian">
                <mean>0.0</mean>
                <stddev>1.7e-2</stddev>
              </noise>
            </y>
            <z>
              <noise type="gaussian">
                <mean>0.0</mean>
                <stddev>1.7e-2</stddev>
              </noise>
            </z>
          </linear_acceleration>
          <orientation>
            <x>
              <noise type="gaussian">
                 <mean>0.0</mean>
                 <stddev>2e-3</stddev>
               </noise>
             </x>
             <y>
               <noise type="gaussian">
                 <mean>0.0</mean>
                 <stddev>2e-3</stddev>
               </noise>
             </y>
             <z>
               <noise type="gaussian">
                 <mean>0.0</mean>
                 <stddev>2e-3</stddev>
               </noise>
             </z>
           </orientation>
        </imu>
      </sensor>
    </gazebo>

</robot>
