<?xml version="1.0" encoding="UTF-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
   
      <!-- CHASSIS -->
      <xacro:property name="chassis_length" value="0.525"/>
      <xacro:property name="chassis_width" value="0.310"/>
      <xacro:property name="chassis_height" value="0.310"/>
      <xacro:property name="chassis_mass" value="5.6"/>
   
      <!-- HEAD -->
      <xacro:property name="head_length" value="0.300"/>
      <xacro:property name="head_width" value="0.300"/>
      <xacro:property name="head_height" value="0.174"/>
      <xacro:property name="head_mass" value="1.05"/>
   
      <!-- WHEELS -->
      <xacro:property name="wheel_radius" value="0.04"/>
      <xacro:property name="wheel_length" value="0.035"/>
      <xacro:property name="wheel_mass" value="0.35"/>
      <xacro:property name="wheel_y_offset" value="0.120684"/>
      <xacro:property name="wheel_z_offset" value="0.02"/>
   
      <!-- CASTER WHEELS -->
      <xacro:property name="caster_wheel_radius" value="0.03"/>
      <xacro:property name="caster_wheel_mass" value="0.4"/>
      <xacro:property name="caster_wheel_offset_x" value="0.420"/>
      <xacro:property name="caster_wheel_offset_z" value="0.059"/>
   
   
      <!-- SCREEN CASE -->
      <xacro:property name="screen_case_length" value="0.133"/>
      <xacro:property name="screen_case_width" value="0.175"/>
      <xacro:property name="screen_case_height" value="0.0298"/>
   
       <!-- LIDAR CASE -->
      <xacro:property name="lidar_case_length" value="0.110"/>
      <xacro:property name="lidar_case_width" value="0.085"/>
      <xacro:property name="lidar_case_height" value="0.040"/>
   
       <!-- LIDAR -->
       <xacro:property name="lidar_length" value="0.025"/>
       <xacro:property name="lidar_radius" value="0.037"/>
       <xacro:property name="lidar_mass" value="0.07"/>
   
      <!-- COLORS -->
      <material name="white">
         <color rgba="1 1 1 1"/>
      </material>
   
      <material name="black">
         <color rgba="0 0 0 1"/>
      </material>
   
      <material name="grey" >
           <color rgba="0.5725490196078431 0.5843137254901961 0.5686274509803921 1.0" />
       </material>
   
      <material name="bloodorange" >
       <color rgba="${255/255} ${119/255} ${0/255} 1.0" />
     </material>
   
     <material name="lightblue">
      <color rgba="${194/255} ${224/255} ${252/255} 1.0"/>
      </material>
   
   
      <!-- MACROS -->
      <xacro:macro name="origin" params="x y z roll pitch yaw">
         <origin xyz="${0.490 + x} ${-0.431 + y} ${0.059964 + z}" rpy="${0 + roll} ${0 + pitch} ${(pi/2) + yaw}"/>
      </xacro:macro>
   
      <!-- <xacro:macro name="no_wheel_slipping">
         <surface>
            <friction>
              <ode>
                <mu>1.01</mu>
                <mu2>1.01</mu2>
                <fdir1>0 0 1</fdir1>
                <slip1>0</slip1>
                <slip2>0</slip2>
              </ode>
            </friction>
            <bounce>
              <restitution_coefficient>0.0</restitution_coefficient>
              <threshold>100000.0</threshold>
            </bounce>
            <contact>
              <ode>
                <soft_cfm>0.0</soft_cfm>
                <soft_erp>0.2</soft_erp>
                <kp>100000.0</kp>
                <kd>1.0</kd>
                <max_vel>100.0</max_vel>
                <min_depth>0.001</min_depth>
              </ode>
            </contact>
          </surface>
      </xacro:macro> -->
   

</robot>