<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="robot_name">
   
   <!-- Robot Physical Properties -->
   <xacro:include filename="$(find arns_description)/urdf/properties.xacro"/>
   <!-- Inertial Macros -->
   <xacro:include filename="$(find arns_description)/urdf/inertial_macros.xacro"/>

   <!-- ROBOT URDF -->
   <xacro:include filename="$(find arns_description)/urdf/robot_core.urdf.xacro"/>

   <!-- GAZEBO CONTROL -->
   <xacro:include filename="$(find arns_description)/urdf/gazebo_control.xacro"/>
   
   <!-- Sensors -->
   <xacro:include filename="$(find arns_description)/urdf/lidar.xacro"/>
   <!-- <xacro:include filename="$(find arns_description)/urdf/imu.xacro"/> -->
   
</robot>
